<!DOCTYPE html>
<html>
  <head>
    <title> ToDo App </title>
      <link href="/styles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="container menu">
      <div class="container" id="add">
          <h1>ToDo List</h1>
          <form action ="/add" method="POST">
          <input type="text" name="new" placeholder="New Task" class="addbtn">
          <br>
          <button>Add</button>
          <hr>
        </div>
        <div class="container">
          <h2>Tasks Added</h2>
          <% for( var i = 0; i < task.length; i++){ %>
              <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
          <% } %>
          <button formaction="/delete" type="submit" id="top"> Remove </button>
          <hr>
        </div>
      </form>
      <div class="container ">
        <h2>Tasks Done</h2>
         <% for(var i = 0; i < done.length; i++){ %>
            <li><input type="checkbox" checked><%= done[i] %> </li>
        <% } %>
      </div>
    </div>

  </body>
</html>
